                        body {
                        background: var(--background);
                        color: var(--text);
                        font-family: "inter", sans-serif;
                        .container {
                            width: min(98%, var(--container));
                            margin: auto;
                        }